		<div class="content material-box">
			<h2 class="uppercase ultrabold quarter-bottom"><a href="https://podcast.justdevzero.me/amp/4">
				<span class="num">4</span>
				<span class="name">GNOME contra el troll de patentes</span>
			</a></h2>
			<p>El mes pasado, la Fundación Gnome recibió una demanda por parte de  Rothschild Patent Imaging LLC, una empresa que básicamente se dedica a realizar registros sobre cosas ridículas o incluso de común funcionalidad. En esta demanda indicaba se realizaba una infracción en la patente 9936086 en el administrador de fotos de la fundación, Shotwell.</p>

<p>Hace poco, después de unas semanas del incidente, la fundación ha dado a conocer información sobre el caso legal, ya que el troll de patentes les propuso retirar la demanda si compraban una licencia para usar dicha funcionalidad en Shotwell.</p>

<p>Además, indicaban que estarba dispuesto a recibir una pequeña suma en compensación de alrededor de una "cantidad de cinco cifras", situación que provocó aún más el enfado por aprte de toda la fundación que ha decidido de una vez por todas frenar la situación.</p>

<p>Es por ello, que la fundación ha creado el fondo llamado "GNOME Patent Troll Defense Fund" para enfrentarse a dicho sujeto.</p>

<p>Según transmite la fundación, la solución de conformarse con esa cuantía y pago, para lo cual el caso se abandonaría y información obtendría licencia de uso. Hubiera sido la forma más simple, mucho menos trabajo, menos dinero y menos estrés, pero estaría moralmente mal.</p>

<p>Hasta el momento la Fundacion Gnome ya envió sus apelaciones de las cuales fueron enviados tres documentos al tribunal:</p>

<p>Solicitud de desestimación completa del caso. La defensa considera que la patente que aparece en el caso es insolvente, y las tecnologías descritas en él no son aplicables para la protección de la propiedad intelectual en software.</p>

<p>La respuesta a la demanda, que pone en tela de juicio el hecho de que GNOME debería ser el demandado en dichos reclamos. El documento intentó probar que la patente especificada en la demanda no se puede utilizar para hacer reclamos contra Shotwell y cualquier otro software libre.</p>

<p>Una contra-demanda que evitará que Rothschild Patent Imaging LLC se retire y elija una víctima menos obstinada para atacar cuando comprenda la seriedad de la intención de GNOME de luchar por invalidar la patente.</p>

<p>Finalmente la Fundación Gnome hace un llamado a todos aquellos usuarios del entorno así como también de todos aquellos que quieran y puedan apoyar a la fundación con una pequeña donación la cual pueden realizar en el <a href="https://secure.givelively.org/donate/gnome-foundation-inc/gnome-patent-troll-defense-fund">siguiente enlace</a>.</p>

<p>“Queremos enviar un mensaje a todos los trolls de patentes de software: lucharemos contra su demanda, ganaremos y se invalidará su patente”, declaró la Fundación GNOME en su declaración.</p>

<p>De igual forma para quienes estén interesados en conocer más al respecto sobre el anuncio y apoyar a compartir la nota en sus redes sociales para que la nota llegue a más personas, pueden hacerlo en el siguiente enlace.</p>

<p>Aprovecho para comentaros, que hemos tenido la nueva asamblea extraordinaria por parte de <a href="https://bulma.eu/blog/">BULMA</a> en la que se me ha elegido como nuevo presidente.</p>

<p>Por mi parte, me he propuesto a intentar que mis seguidores, ya sea del podcast o de twitter, o gente que me rodee done hasta 200 euros a la causa:</p>

<p><a href="https://www.gnome.org/news/2019/10/gnome-files-defense-against-patent-troll/">Noticia original</a></p>

			<amp-audio class="audio-player" width="300" height="300" src="https://d3ctxlq1ktw2nl.cloudfront.net/staging/2019-10-1/32107775-44100-2-401dc864ea96.m4a">
				<div fallback>
					<p>Tu navegador no soporta audio en HTML 5.</p>
				</div>
			</amp-audio>
		</div>