		<div class="content material-box">
			<h2 class="uppercase ultrabold quarter-bottom"><a href="https://podcast.justdevzero.me/amp/1">
				<span class="num">1</span>
				<span class="name">Teatro de seguridad</span>
			</a></h2>
			<p>No, no va de obras literarias, este es un tema muy distinto, es una reflexión de situaciones que vivimos cotidianamente relacionadas con la seguridad y que quizás os están pasando desapercibidas.</p>

<p>No es necesario que toméis nota, pero estoy seguro que lo que os explicaré os sonará a más de uno y os sentiréis identificados, ya sea como actores o expectadores de dicho teatro.</p>

<p>Nota: Me han avisado que en la edición se me han solapado algunas palabras, pido disculpas si no se entiende.</p>

			<amp-audio class="audio-player" width="300" height="300" src="https://d3ctxlq1ktw2nl.cloudfront.net/staging/2019-3-24/13380448-44100-2-295c7789b6462.m4a">
				<div fallback>
					<p>Tu navegador no soporta audio en HTML 5.</p>
				</div>
			</amp-audio>
		</div>