
                <article>
                    <div class="padding20">
                        <h2><a href="https://podcast.justdevzero.me/2/">
                            <span class="num">2</span>
                            <span class="name">La deuda técnica</span>
                        </a></h2>
                        <p>Hoy os traigo un episodio sobre un tema recomendado por uno de mis grandes amigos, Pablo, administrador de sistemas y que por desgracia se ha acostumbrado demasiado a ver, oir y sufrir las consecuencias de este vocablo. Una lacra que se suele sufrir por desgracia de forma más que habitual en las empresas de tecnología.</p>

                    </div>

                    <div class="metadata">
                            <audio preload="metadata" name="media" class='fraudio new' data-datetime='01/04/2019' data-number="2" data-analytics="2 - La deuda técnica">
                                <source src="https://d3ctxlq1ktw2nl.cloudfront.net/staging/2019-4-1/13936811-44100-2-c3a531e550ef5.m4a" type="audio/mp4">
                                <p>
                                    <a class='downloadPodcast' href="https://d3ctxlq1ktw2nl.cloudfront.net/staging/2019-4-1/13936811-44100-2-c3a531e550ef5.m4a">Descargar</a> episodio.
                                </p>
                            </audio>
                    </div>
                </article>