
                <article>
                    <div class="padding20">
                        <h2><a href="https://podcast.justdevzero.me/0/">
                            <span class="num">0</span>
                            <span class="name">¿Quien soy que hago aquí?</span>
                        </a></h2>
                        <p>Soy Daniel, también conocido como <a href="https://twitter.com/justdevzero">@JustDevZero</a></p>

<p>En este primer episodio, por enumerarlo de alguna manera con el número 0, me presento a toda la gente que no me conoce, de donde vengo, hacia donde voy y que intenciones tengo para con el podcast, espero poder publicar muchos capitulos más cada vez más interesantes.</p>

<p>Agradecimientos especiales a Ángel de <a href="https://ugeek.github.io/">@uGeekPodcast</a> por darme el empujón final.</p>

<p>A José Jimenez <a href="https://www.ivoox.com/podcast-tomando-un-cafe_sq_f1483612_1.html">@Tomando<em>Un</em>Cafe</a> por dejarme un like antes si quiera de la difusión del podcast (a eso le llamo yo un salto de fé.</p>

<p>A <a href="https://twitter.com/falc">@falc</a>, programador y con el que colaboré en su antiguo podcast¸ ¿Que, no te animas a volver?</p>

<p>Y en especial a mi amigo, hermano no biologico y compañero de fatigas, <a href="https://twitter.com/choms">@Choms</a>, con quien monté mi primer blog de tecnología y gracias al cual he avanzado mucho en mi vida, no solo como técnico, si no como persona.</p>

<p>Sin más, os dejo con el primer episodio.</p>

                    </div>

                    <div class="metadata">
                            <audio preload="metadata" name="media" class='fraudio new' data-datetime='21/03/2019' data-number="0" data-analytics="0 - ¿Quien soy que hago aquí?">
                                <source src="https://d3ctxlq1ktw2nl.cloudfront.net/staging/2019-3-21/13247155-44100-2-96171299d423.m4a" type="audio/mp4">
                                <p>
                                    <a class='downloadPodcast' href="https://d3ctxlq1ktw2nl.cloudfront.net/staging/2019-3-21/13247155-44100-2-96171299d423.m4a">Descargar</a> episodio.
                                </p>
                            </audio>
                    </div>
                </article>