		<div class="content material-box">
			<h2 class="uppercase ultrabold quarter-bottom"><a href="https://podcast.justdevzero.me/amp/2">
				<span class="num">2</span>
				<span class="name">La deuda técnica</span>
			</a></h2>
			<p>Hoy os traigo un episodio sobre un tema recomendado por uno de mis grandes amigos, Pablo, administrador de sistemas y que por desgracia se ha acostumbrado demasiado a ver, oir y sufrir las consecuencias de este vocablo. Una lacra que se suele sufrir por desgracia de forma más que habitual en las empresas de tecnología.</p>

			<amp-audio class="audio-player" width="300" height="300" src="https://d3ctxlq1ktw2nl.cloudfront.net/staging/2019-4-1/13936811-44100-2-c3a531e550ef5.m4a">
				<div fallback>
					<p>Tu navegador no soporta audio en HTML 5.</p>
				</div>
			</amp-audio>
		</div>