		<div class="content material-box">
			<h2 class="uppercase ultrabold quarter-bottom"><a href="https://podcast.justdevzero.me/amp/3">
				<span class="num">3</span>
				<span class="name">Tu propio servidor de corréo electrónico</span>
			</a></h2>
			<p>Llevo varios meses sin publicar ningún episodio, os pido disculpas, el verano me ha dejado completamente KO, soy un poco como los ordenadores, a altas temperaturas me vuelto inutil.</p>

<p>Quiero aprovechar esta vuelta del podcast, para aprovechar para anunciaros que estamos haciendo una regeneración en BULMA y si vivís en Mallorca o cualquiera de las Islas Baleares vecinas, os aconsejo acudir a nuestros eventos, y reuniones por mumble. Contactad conmigo por telegram para más detalles.</p>

<p>El episodio del podcast de hoy trata sobre el montaje de un servidor de correos electrónicos.</p>

<p>Comentado en el episodio:</p>

<p><a href="https://mailinabox.email">Mail-in-a-Box</a>: Convierte un servidor cloud en la nube en un servidor de correo en funcionamiento. Sin necesidad de ser expertos.</p>

<p><a href="https://mailu.io">Mailu</a>: Mailu  es un servidor de correo electrónico extremadamente sencillo y completo usando imágenes de docker.</p>

<p><a href="https://bulma.eu/">BULMA</a>: Bisoños Usuarios de Linux de Mallorca y Alrededores (asocación linuxera de Baleares)</p>

<p><a href="https://linuxytapas.wordpress.com/">Linux y Tapas</a>: Es un encuentro anual en la ciudad de León de España para linuxeros y curiosos amantes de la tecnología en general.</p>

			<amp-audio class="audio-player" width="300" height="300" src="https://d3ctxlq1ktw2nl.cloudfront.net/staging/2019-9-15/29417435-44100-2-ebd86d5d5eaf2.m4a">
				<div fallback>
					<p>Tu navegador no soporta audio en HTML 5.</p>
				</div>
			</amp-audio>
		</div>